extends ../layouts/main.pug

block globals
 -const title = "CONTACT INFO ON MY SUPER FANCY ONLINE WEBSTORE"


block content 
  h1#header= title 

  p.intro-text.second-class(data-attr="my value") Welcome to the Online Store